<div class="control-panel">
  <!-- Start General controls -->
  <div class="display-controls" id="general-controls">
   <div class="form-group">
    <label for="from">{{ 'timeseries.produto' | translate }}: </label>
      <input
        *ngIf="!isPolygon"
        type="number"
        class="form-control"
        id="lat"
        placeholder="Latitude"
        name="latitude"
        [(ngModel)]="latitude"
        required
      />
      <input
        *ngIf="!isPolygon"
        type="number"
        class="form-control"
        id="long"
        placeholder="Longitude"
        name="longitude"
        [(ngModel)]="longitude"
        required
        />
      <input
        *ngIf="isPolygon"
        name="polygon"
        [(ngModel)]="polygon"
        type="text"
        class="form-control"
        id="openJSON"
        placeholder="Paste here your json"
      />
    </div>
    <div class="form-group">
      <select *ngIf="!isPolygon" class="form-control" multiple id="band">
        <option selected='selected' value='evi'> evi </option>
        <option value='ndvi'> ndvi </option>
        <option value='mir'> mir </option>
        <option value='nir'> nir </option>
        <option value='red'> red </option>
        <option value='blue'> blue </option>
      </select>
      <select *ngIf="isPolygon" class="form-control" id="band_shp">
        <option selected='selected' value='evi'> evi </option>
        <option value='ndvi'> ndvi </option>
        <option value='mir'> mir </option>
        <option value='nir'> nir </option>
        <option value='red'> red </option>
        <option value='blue'> blue </option>
      </select>
    </div>
    <div class="form-group">
      <label for="from">{{ 'timeseries.startDate' | translate }}: </label>
      <input type="date" class="form-control" id="from" value="2000-02-18" />
    </div>
    <div class="form-group">
      <label for="to">{{ 'timeseries.endDate' | translate }}: </label>
      <input type="date" class="form-control" id="to" value= "2019-09-30" /> <!--"{{currentDate | date:'yyyy-MM-dd'}}"-->
    </div>

    <button type="submit" id="submitbutton" class="btn btn-success" (click)="sendDataToChart()" [disabled]="!latitude || !longitude"> {{ 'timeseries.submit' | translate }} </button> <!-- (click)="timeseries()" -->
  
  </div>
  <!-- End of general control -->

  <!-- Stat Filter controls -->
  <div class="hidden-controls" id="filter-controls">
    <div id="title-chart-filter" class="all-charts-title boxtitlepanel">
      {{ 'timeseries.filter' | translate }}
    </div>

    <div class="form-group" id="filter-group">
      <label for="filter">{{ 'timeseries.filters' | translate }}: </label>
      <select class="form-control" id="filter" required>
        <option value="No-filter" selected="selected">
          {{ 'timeseries.noFilter' | translate }}
        </option>
        <option value="Whittaker"> Whittaker </option>
        <option value="Savitsky-Golay"> Savitsky-Golay </option>
      </select>
    </div>
    <div class="form-group" id="filter-whit">
      <label for="parameter-Whittaker">
        {{ 'timeseries.whitParameters' | translate }}:
      </label>
      <label for="wh-lambda">
        <input
          type="number"
          class="form-control"
          id="wh-lambda"
          required
          placeholder="lambda"
          step="0.01"
          value="1.0"
          disabled
        />
        lambda
      </label>
      <label for="wh-differences">
        <input
          type="number"
          class="form-control"
          id="wh-differences"
          required
          placeholder="differences"
          value="3"
          disabled
        />
        differences
      </label>
    </div>
    <div class="form-group" id="filter-sg">
      <label for="parameter-Savitsky-Golay"
        >{{ 'timeseries.sgParameters' | translate }}:
      </label>
      <label for="sg-order">
        <input
          type="number"
          class="form-control"
          id="sg-order"
          required
          placeholder="order"
          value="3"
          disabled
        />
        order
      </label>
      <label for="sg-scale">
        <input
          type="number"
          class="form-control"
          id="sg-scale"
          required
          placeholder="scale"
          value="1"
          disabled
        />
        scale
      </label>
    </div>
    <button
      type="button"
      id="submitbuttonfilter"
      class="btn btn-success"
      disabled
    >
      {{ 'timeseries.applyFilter' | translate }}
    </button>
  </div> 
</div>
