#plotdiv {
  /*width: 100%;*/
  height: 400px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  background: #ffffff;
}

#map {
  /*width: 100%;*/
  height: 500px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

#mapSearchContainer{
  position:fixed;
  top:20px;
  right: 40px;
  height:30px;
  width:180px;
  z-index:110;
  font-size:10pt;
  color:#5d5d5d;
  border:solid 1px #bbb;
  background-color:#f8f8f8;
}
.pointer{
  position:absolute;
  top:86px;
  left:60px;
  z-index:99999;
}

#header {
  width: 100%;
  height: 25px;
  float: left;
  font:14px Verdana;
  font-weight:bold
}

/* css to customize Leaflet default styles  */
.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #e93434;
    color: #ffffff;
}

.buttons-table {
  margin: 0 auto;
}
  
.action_btn {
  margin: 0 auto;
}

#tableSample {
    background-color: #ffffff;
    border-collapse: collapse;
    width: 100%;
}

#tableSample th, td {
    text-align: left;
    padding: 8px;
}

/* #tableSample tr:nth-child(even){background-color: #f2f2f2} */

#tableSample th {
    background-color: #017a6b; /*#4CAF50;*/
    color: white;
}

/* d3 fill area for shapefile time series */
/* path.area {
*  fill: lightsteelblue;
* } 
*/

#submitbutton:disabled {
    /* background-image: url(../www/loading2.gif); */
    background-repeat:no-repeat;
    width: 223px;
    height: 26px;
    border: none;
    text-align: center;
    text-decoration: none;    
}

/* #submitbuttonfilter:disabled {
    background-image: url(../www/loading2.gif);
    background-repeat:no-repeat;
    width: 223px;
    height: 26px;
    border: none;
    text-align: center;
    text-decoration: none;    
} */

.modal-open .modal-backdrop.in:nth-child(2) { opacity: .5 }
.modal-backdrop.in { opacity: 0 }

.boxtitlepanel {
  text-align: left;
  color: #00796b;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid #49bc95;
  margin: 20px;
}

