#map_container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}

.map_container-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}