<div class="modal-header fechar">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeDialog()">
    <i class="material-icons">clear</i>
  </button>
</div>
<div></div>
<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ "filter.title" | translate }}</h5>

      <div *ngIf="isOnlyYearDate">
        <app-date-picker-year #startYearDatePicker [minDate]="minDate" [maxDate]="maxDate" (setDateOutput)="setStartDateValue($event)"></app-date-picker-year>
        <app-date-picker-year #endYearDatePicker [minDate]="minDate" [maxDate]="maxDate" (setDateOutput)="setEndDateValue($event)"></app-date-picker-year>
      </div>

      <div *ngIf="isOnlyMonthDate">
        <app-date-picker-month #startMonthDatePicker [minDate]="minDate" [maxDate]="maxDate" (setDateOutput)="setStartDateValue($event)"></app-date-picker-month>
        <app-date-picker-month #endMonthDatePicker [minDate]="minDate" [maxDate]="maxDate" (setDateOutput)="setEndDateValue($event)"></app-date-picker-month>
      </div>

      <div *ngIf="isFullDate">
        <app-date-picker-full #startFullDatePicker [minDate]="minDate" [maxDate]="maxDate" (setDateOutput)="setStartDateValue($event)"></app-date-picker-full>
        <app-date-picker-full #endFullDatePicker [minDate]="minDate" [maxDate]="maxDate" (setDateOutput)="setEndDateValue($event)"></app-date-picker-full>
      </div>

      <mat-divider></mat-divider>

      <button mat-raised-button color="primary" (click)="applyFilter()">
        Filtrar
      </button>
    </div>
  </div>
</div>