<div class="modal-header fechar">
  <button
    type="button"
    class="close"
    data-dismiss="modal"
    aria-hidden="true"
    (click)="closeDialog()"
  >
    <i class="material-icons">clear</i>
  </button>
</div>
<div></div>
<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ "filter.title" | translate }}</h5>

      <app-date-picker-full [minDate]="minDate" [maxDate]="maxDate" [dateValue]="dateValue"></app-date-picker-full>
      <app-date-picker-month [minDate]="minDate" [maxDate]="maxDate" [dateValue]="dateValue"></app-date-picker-month>
      <app-date-picker-year [minDate]="minDate" [maxDate]="maxDate" [dateValue]="dateValue"></app-date-picker-year>

      <h1>Bind Date: {{bindDate}}</h1>

      <mat-divider></mat-divider>

      <button mat-raised-button color="primary" (click)="getDimensions()">
        Get Dimensions test
      </button>

      <mat-divider></mat-divider>

      <button mat-raised-button color="primary" (click)="applyFilter()">
        Filtrar
      </button>
    </div>
  </div>
</div>
