.layer-filter-container {
  display: flex;
  flex-direction: column;
}

.layer-filter-container > * {
  width: 100%;
}

.date-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.date-month-picker .mat-calendar-arrow {
  display: none;
}
.not-found-dimension
{
  padding: 20px;
}